<section class="login-component">

    <div class="errors">
        <ul>
            <li *ngFor="let error of errors">
                <p>{{ error }}</p>
            </li>
        </ul>
    </div>

    <h2>Login</h2>
    <ul>
        <li>
            <label>Username</label>
            <input type="text" [(ngModel)]="username" placeholder="Enter your username" />
        </li>
        <li>
            <label>Password</label>
            <input type="password" [(ngModel)]="password" placeholder="Enter your password" />
        </li>
        <li>
            <button (click)="handle_login_click()">Login</button>
        </li>
    </ul>

    <ul *ngIf="user.id">
        <li>{{ user.id }}</li>
        <li>{{ user.fullName }}</li>
        <li>{{ user.userName }}</li>
        <li>{{ user.url }}</li>
        <li>{{ user.email }}</li>
        <li>{{ user.emailConfirmed }}</li>
        <li>{{ user.level }}</li>
        <li>{{ user.joinDate }}</li>
        <li>{{ user.roles }}</li>
        <li>{{ user.claims }}</li>
    </ul>

</section>