.admin-component {
  padding : 0 14px;

  * {
    font-size : 14px;
  }

  h1 {
    font-size: 2rem;
  }

  h5 {
    font-weight : bold;
  }

  .user-list {
    padding : 0;
    list-style-type : none;
  }
}