/* Reset */
html,
body,
div {
  border: 0;
  margin: 0;
  padding: 0;
}

/* Box-sizing border-box */
* {
  box-sizing: border-box;
}

/* Set up a default font and some padding to provide breathing room */
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  font-weight: 400;
  letter-spacing: 0.01em;
  line-height: 20px;
  margin-bottom: 1em;
  margin-top: 1em;
}

ul {
  margin: 10px 0 0;
  padding: 0 0 0 20px;
}

li {
  font-weight: 400;
  margin-top: 4px;
}

input {
  border: 1px solid #106cc8;
  font-size: 14px;
  height: 40px;
  outline: none;
  padding: 8px;
}

button {
  background-color: #106cc8;
  border-style: none;
  color: rgba(255, 255, 255, 0.87);
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  height: 40px;
  padding: 8px 18px;
  text-decoration: none;
}

button:hover {
  background-color: #28739e;
}


/**
 * Authentication Module
 */
.field-list {
  padding: 0;
  list-style-type: none;
}

.field-list * {
  font-size : 14px;
}

.field-list + .field-list {
  margin-top : 2rem;
}

.field-list > li > label {
  display : block;
  font-weight : normal;
}

.field-list > input {
  width: 100%;
}

@media (min-width : 768px) {
  .field-list > li > label {
    display: inline-block;
    width: 150px;
  }

  .field-list > li > input {
    width : 220px;
  }
}

.primary-cta {
    margin-top : 1rem;

    /**
     * Reset seed/bootstrap style conflict
     */
    height : auto;
  }
/**
 * End Authentication Module
 */