<section class="change-password-component">

    <div class="errors">
        <ul>
            <li *ngFor="let error of errors">
                <p>{{ error }}</p>
            </li>
        </ul>
    </div>

    <h2>Change Password</h2>
    <ul>
        <li>
            <label>Old Password</label>
            <input type="password" [(ngModel)]="oldPassword" placeholder="Enter your old password" />
        </li>
        <li>
            <label>New Password</label>
            <input type="password" [(ngModel)]="newPassword" placeholder="Enter your new password" />
        </li>
        <li>
            <label>Confirm Password</label>
            <input type="password" [(ngModel)]="confirmPassword" placeholder="Confirm your new password" />
        </li>
        <li>
            <button (click)="handle_password_change()">Change Password</button>
        </li>
    </ul>

</section>